@using Avanade.BootStrapper.Web.Container.Ext.Models
@model ComponentViewModel

@{
    ViewBag.Title = "Container";
}

@{
   var grid = new WebGrid(Model.Components, rowsPerPage: 10, 
   canPage: true, canSort: true, defaultSort: "ServiceName");
 }

<h2>Container Registry</h2>

<p>Total number of component services: @Model.Components.Count()</p>

<div id="grid">
    @grid.GetHtml(
    tableStyle: "grid",
    headerStyle: "head",
    alternatingRowStyle: "alt",
    columns: grid.Columns(
    grid.Column("ServiceName", "Service Name"),
    grid.Column("Implementation", "Implementation")
   ))
</div>


