@{
    ViewBag.Title = "Authentication";
}

<h2>Authentication</h2>

<p>If you see this, it means you are using a browser when this is a REST service.</p>
<p>Click here to return to the @Html.ActionLink("Home Page", "Index", "Home")</p>
