@{
    ViewBag.Title = "Home";
}

<h2>AppTier Kernel</h2>
<p>The AppTier Kernel will not have any UI. Only REST services.</p>

<p>Jump here to go to the @Html.ActionLink("Authentication REST Service", "Index", "Authenticate")</p>