<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LogStorage" 
         connectionString="DefaultEndpointsProtocol=https;AccountName=appkernel;AccountKey=jJSRwPI687M54O/rtq8sFBp9VK/xM3ePScThpL87XFuYrXltwwn3aVuqOo102icrQSKaCuB45f3DIMUY8xXsAw=="/>
  </connectionStrings>
</configuration>