<?xml version="1.0"?>
<configuration>
  <!-- Define the custom configuration sections... -->
  <configSections>
    <section name="Configuration" type="Avanade.Configuration.Custom.CustomSectionConfig, Avanade.Configuration.Custom"/>
  </configSections>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="Setting1" value="Very"/>
		<add key="Setting2" value="1"/>
 	</appSettings>
  <Configuration configSource="Configuration.config"/>
  <!--
  <Configuration xmlns="Avanade.Configuration">
    <sections>
      <section name="sectionA">
        <detail key="keyA" value="valueA"/>
        <detail key="keyAA" value="valueAA"/>
      </section>
      <section name="sectionB">
        <detail key="keyB" value="valueB"/>
      </section>
    </sections>
  </Configuration>
  -->

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
