<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns="Avanade.Configuration">
  <sections>
    <section name="sectionA">
      <detail key="keyA" value="valueA"/>
      <detail key="keyAA" value="valueAA"/>
    </section>
    <section name="sectionB">
      <detail key="keyB" value="valueB"/>
    </section>
    <section name="Kernel">
      <detail key="AppEnvironment" value="HighCourt"/>
    </section>
  </sections>
</Configuration>