<?xml version="1.0" encoding="utf-8"?>
<!--
This will be used as a standalone config file.
<configuration>
  <components></components>
</configuration>
-->
<!-- This style should be used in conjunction with a web.config or app.config that has a section name as 'castle' and configSource pointing to this file. -->
<castle>
  <components>
    <!--
    <component id="TestComponent"
               service="CrimsonLogic.Common.ServiceContainer.Tests.ITestComponent, CrimsonLogic.Common.ServiceContainer.Tests"
               type="CrimsonLogic.Common.ServiceContainer.Tests.TestComponent, CrimsonLogic.Common.ServiceContainer.Tests"/>
               -->
  </components>
</castle>

