<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <extensions>
    <add xdt:Transform="Insert" assembly="Avanade.Azure.Logging, Version=0.1.0.1, Culture=neutral, PublicKeyToken=0f97947a3fcaf5cc, processorArchitecture=MSIL"/>
  </extensions>
  <targets>
    <target xdt:Transform="Insert" name="logAzure" xsi:type="AzureTarget"/>
  </targets>
  <rules>
    <logger xdt:Transform="Insert" name="*" minlevel="Debug" writeTo="logAzure" />
  </rules>
</nlog>
