<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BootStrapEnvironment" value="Azure" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="AzureNLogTableStorage" xdt:Transform="Insert"
         connectionString="DefaultEndpointsProtocol=https;AccountName=appkernel;AccountKey=jJSRwPI687M54O/rtq8sFBp9VK/xM3ePScThpL87XFuYrXltwwn3aVuqOo102icrQSKaCuB45f3DIMUY8xXsAw==" />
  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics" xdt:Transform="Insert">
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>