<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BlobConnectionString" 
         value="DefaultEndpointsProtocol=http;AccountName=avanade190;AccountKey=jNsOCaleorTfQZRRQE8NH8gJDb9Rfm54YcidNvbzqGQphnYBhY28iX94e2ns/BOk6o/Thol4wanW2zsgS0AzmQ=="/>
  </appSettings>
</configuration>